# DS 3000 HW 1 

Due: Tuesday Sep 18 @ 11:59 PM EST

### Submission Instructions
Submit this `ipynb` file to Gradescope (this can also be done via the assignment on Canvas).  To ensure that your submitted `ipynb` file represents your latest code, make sure to give a fresh `Kernel > Restart & Run All` just before uploading the `ipynb` file to gradescope.

### Tips for success
- Start early
- Make use of Piazza (also accessible through Canvas)
- Make use of Office Hours
- Remember to use cells and headings to make the notebook easy to read (if a grader cannot find the answer to a problem, you will receive no points for it)
- Under no circumstances may one student view or share their ungraded homework or quiz with another student [(see also)](http://www.northeastern.edu/osccr/academic-integrity), though you are welcome to **talk about** (*not* show each other your answers to) the problems.

# Part 1 (25 points): Markdown in Jupyter

Use the markdown language below to create your own brief wikipedia-esque description of any subject of interest. 

Your mini-wiki page must include:
- three headers: a title, subtitle and subsubtitle (the #, ##, ### syntax)
- an embedded image from a web address (use an [image hosting site](https://makeawebsitehub.com/free-photo-hosting/) if you'd like to upload your own)
- a table of size at least 3 rows x 3 columns (needn't be correct, but must make sense)
- a list
- a link to another website

Please be brief in your text.  Aim for roughly 3 sentences total of text.  We won't grade based on content, but keep it appropriate for class.  If you make the grader smile, no extra credit will be awarded beyond the satisfaction of having made somebody's day better :)


# Topological Data Analysis
Cool intersection of theoretical math and data science

## Tools
Among many of the tools that TDA offers...

### Persistence Diagram 
2D plot of points that captures persistence of topological features of a dataset such as its connected components and holes
![torusH1PD](https://www.researchgate.net/publication/335024759/figure/fig1/AS:963465980149761@1606719598161/The-persistence-diagram-for-homology-of-degree-1-of-the-Rips-filtration-of-2000-iid.png)

### Unrelated but not really (want a hint?)
| + | 0 | 1 | 2 |   |
|---|---|---|---|---|
| 0 | 0 | 1 | 2 |   |
| 1 | 1 | 2 | 0 |   |
| 2 | 2 | 0 | 1 |   |

If you're curious about this tool you should:
- Read this for motivation [Persistent Homology: A Non-Mathy Introduction with Examples](https://towardsdatascience.com/persistent-homology-with-examples-1974d4b9c3d0)
- *Probably* take a crash course in Persistent Homology

# Part 2: Lists and Flow and Functions, Oh my! 
## Part 2.1: Manual Data Entry (20 points)

**Beware**: to complete this part of the assignment, you *must* do it during a weekday when the stock market is open!

How would you collect data on a stock's performance without a computer doing it automatically? Go to [this website](https://www.tradingview.com/) and look up a stock (any stock). You are going to write a function that takes live input of the stock's value (entered by you), saves all inputs in a list, stops once you enter 10 values **or** three consecutive decreasing values (whichever comes first), and returns the values.

For this problem:

- Call your function `my_stock`
- Make sure that you use the `input()` option within your function to accept entries
- Make sure you are saving all entries in a list
- Use `if-else` and a `while` loop
- When you have written the function, call:

`manual_data_entry = my_stock()`

`manual_data_entry`

and click between (or have the pages open side by side) this notebook and the stock to manually enter the stock's value over time (the website updates every 5 seconds).

**Note**: There may be multiple ways to get this function to work, but to receive full points, your function **must** have the five components listed above.

In [5]:
def my_stock():
    values = []
    while len(values) < 10:
        value = float(input())
        values.append(value)
        if len(values) > 3 and (value < values[-2] and values[-2] < values[-3] and values[-3] < values[-4]):
            break
    return values

manual_data_entry = my_stock()
manual_data_entry

1
23
4
5
6
6
8
9
0
10

[1.0, 23.0, 4.0, 5.0, 6.0, 6.0, 8.0, 9.0, 0.0, 10.0]

## Part 2.2: Thinking (5 pts)

In a markdown (text) cell, discuss at least **two** drawbacks to using the function you wrote in Part 2.1 to collect the data the way we did. Make sure you **discuss** the drawbacks, instead of simply listing them. What did we do that was sub-optimal and how could we improve it?

The first drawback is the fact this script still requires major manual work as the user has to enter the different values over time. I hope that by the end of the course I'm able to write an improved script that'd be able to scrape the stock's value over time, directly from the website using any module that provides a timer functionality to retrieve the updated values periodically.
Another drawback I see is that I used a list to store the different values, which is not ideal because I have no way of telling the time a particular value belongs to. In other words, an easy improvement would be to use a dictionary to store the data where the keys would be the times and the values would be the corresponding stock prices. In this way the user would be able to retrieve the stock value from a given time effortlessly.

# Part 3: Numpy
## Part 3.1: Creating Arrays (10 points)

Create the following two arrays using the NumPy library. Call the first array `array_a` and the second array `array_b` (make sure you keep the `import` statement below):

$$\mathbf{array_a} = \begin{bmatrix}3 & 8 & -2 & 3\\
.5 & -1 & 6 & 4\\
-5 & 7 & -42 & 2
\end{bmatrix}$$

$$\mathbf{array_b} = \begin{bmatrix}42 & 38 & 34\\
30 & 26 & 22\\
18 & 14 & 10\\
6 & 2 & -2\\
-6 & -10 & -14
\end{bmatrix}$$

In [32]:
# make sure to import numpy library
import numpy as np

In [39]:
array_a = np.array([[3, 8, -2, 3], [.5, -1, 6, 4], [-5, 7, -42, 2]])

In [40]:
# uncomment below to print array_a
array_a
# does it matter that I have a period after each integer because this is a float type array?

array([[  3. ,   8. ,  -2. ,   3. ],
       [  0.5,  -1. ,   6. ,   4. ],
       [ -5. ,   7. , -42. ,   2. ]])

In [41]:
array_b = np.array([[42, 38, 34], [30, 26, 22], [18, 14, 10], [6, 2, -2], [-6, -10, -14]])

In [42]:
# uncomment below to print array_b
array_b

array([[ 42,  38,  34],
       [ 30,  26,  22],
       [ 18,  14,  10],
       [  6,   2,  -2],
       [ -6, -10, -14]])

## Part 3.2: Exploring Arrays (15 points)

1. Give the shape, size, ndim, and nbytes for each of the two arrays.
1. Take the transpose of both arrays. Call these `t_array_a` and `t_array_b`.
1. Try to add `array_a` and `t_array_b`, then remove the last column of `t_array_b` and try to add them again. In a markdown cell, explain what happened.

In [46]:
# Shape of above arrays
print(array_a.shape)
print(array_b.shape)

(3, 4)
(5, 3)

In [47]:
# Size of arrays
print(array_a.size)
print(array_b.size)

12
15

In [49]:
# Dimension of arrays
print(array_a.ndim)
print(array_b.ndim)

2
2

In [53]:
# Nbytes of arrays
print(array_a.nbytes)
print(array_b.nbytes)

96
60

In [71]:
# Transpose of arrays
t_array_a = array_a.T
t_array_b = array_b.T
t_array_a, t_array_b

(array([[  3. ,   0.5,  -5. ],
        [  8. ,  -1. ,   7. ],
        [ -2. ,   6. , -42. ],
        [  3. ,   4. ,   2. ]]),
 array([[ 42,  30,  18,   6,  -6],
        [ 38,  26,  14,   2, -10],
        [ 34,  22,  10,  -2, -14]]))

In [72]:
M = array_a + t_array_b

ValueError: operands could not be broadcast together with shapes (3,4) (3,5)

In [70]:
#M = array_a + t_array_b
t_array_b = t_array_b[:,0:4]
M = array_a + t_array_b
M

array([[ 45. ,  38. ,  16. ,   9. ],
       [ 38.5,  25. ,  20. ,   6. ],
       [ 29. ,  29. , -32. ,   0. ]])

- The first line of the cell above generates a "ValueError" because the shapes of array_a and t_array_b dont match.
- We see that t_array_b is 3x5 while array_a is 3x4 so we can't add them together as is.
- We then remove the last column of t_array_b by slicing it only including all the values up till the fourth column and saved this new array as t_array_b. 
- Lastly, both array_a and t_array_b are 3x4 and so elements of the arrays are added, creating a new array called M.

# Part 4: Pandas Pokémon
## Part 4.1: Reading in Data (5 points)

On Canvas is the `pokedata.csv` file. Read this data set in, using the `Pokedex` as the index column, and print the first few rows of the data. Make sure you keep the `import` statement below!

In [7]:
# make sure to import pandas library
import pandas as pd

In [8]:
pokedata = 'pokedata.csv'

# Looked up how to get fn and index_col here: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
df_poke = pd.read_csv(pokedata, index_col = 'Pokedex')
df_poke.head(5)

,Pokemon,MainType,SecondaryType,Height,Weight,Damage,BaseSpeed,Attack,Defense
Pokedex,,,,,,,,,
1,Bulbasaur,Grass,Poison,24,25.2,45,45,49,49
2,Ivysaur,Grass,Poison,39,28.7,60,60,62,63
3,Venusaur,Grass,Poison,79,220.5,80,80,82,83
4,Charmander,Fire,NaN,24,18.7,39,65,52,43
5,Charmeleon,Fire,NaN,43,41.9,58,80,64,58

## Part 4.2: Manipulating Data (20 points)

1. Add a new column to the data set that calculates the BMI of the Pokémon. The formula for BMI using Imperial Units (such as these data contain) is = $703 \times \frac{Weight}{Height^2}$. Print the first few rows.
    - Find out which Pokémon have (a) the highest BMI and (b) the lowest BMI.
1. Create a subset of the Pokémon Data that you created in (1) which (a) includes only Pokémon that have `BaseSpeed >= 60` and (b) **excludes** all Pokémon with the Grass `MainType`. Make sure to save this subset as a new data frame and print the first few rows of the data.
1. Use the `.describe()` function to produce summary statistics for the **full** Pokémon Data from the data from (1). Create a markdown cell and explain:
    - What Series did the `.describe()` function run on? What Series did it not run on? What is the difference, and what does this mean the `.describe()` function is used for?

In [9]:
def bmi(weight, height):
    """ Computes bmi using 703 * weight/(height^2) as a formula
        Params.: weight, height (floats)
        Returns: bmi for each (weight, height) par entered
    """
    return 703 * (weight / (height ** 2))

# Create new column using bmi function above
df_poke['BMI'] = bmi(df_poke.Weight, df_poke.Height)
df_poke.head(5)

,Pokemon,MainType,SecondaryType,Height,Weight,Damage,BaseSpeed,Attack,Defense,BMI
Pokedex,,,,,,,,,,
1,Bulbasaur,Grass,Poison,24,25.2,45,45,49,49,30.756250
2,Ivysaur,Grass,Poison,39,28.7,60,60,62,63,13.265023
3,Venusaur,Grass,Poison,79,220.5,80,80,82,83,24.837606
4,Charmander,Fire,NaN,24,18.7,39,65,52,43,22.823090
5,Charmeleon,Fire,NaN,43,41.9,58,80,64,58,15.930611

In [10]:
# values off by 1 -- indexing mistake??
bmi_min = df_poke.loc[:, 'BMI'].argmin()
print(df_poke.Pokemon[bmi_min])
bmi_max = df_poke.loc[:, 'BMI'].argmax()
print(df_poke.Pokemon[bmi_max])

Gastly
Graveler

In [14]:
# Pokemon with highest BMI
max_bmi = df_poke.BMI.max()
print(df_poke.Pokemon[df_poke.BMI == max_bmi])

# Pokemon with lowest BMI
min_bmi = df_poke.BMI.min()
print(df_poke.Pokemon[df_poke.BMI == min_bmi])

Pokedex
76    Golem
Name: Pokemon, dtype: object
Pokedex
93    Haunter
Name: Pokemon, dtype: object

In [52]:
df_poke_subset = df_poke[(df_poke.BaseSpeed >= 60) & (df_poke.MainType != 'Grass')]
df_poke_subset.head(5)

,Pokemon,MainType,SecondaryType,Height,Weight,Damage,BaseSpeed,Attack,Defense,BMI
Pokedex,,,,,,,,,,
4,Charmander,Fire,NaN,24,18.7,39,65,52,43,22.823090
5,Charmeleon,Fire,NaN,43,41.9,58,80,64,58,15.930611
6,Charizard,Fire,Flying,67,199.5,78,100,84,78,31.242704
9,Blastoise,Water,NaN,63,188.5,79,78,83,100,33.387629
12,Butterfree,Bug,Flying,43,70.5,60,70,45,50,26.804489

In [56]:
df_poke.describe()

,Height,Weight,Damage,BaseSpeed,Attack,Defense,BMI
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,46.894040,100.766954,64.218543,68.933775,72.913907,68.225166,32.764506
std,37.880717,131.299070,28.585519,26.746880,26.755421,26.916704,23.189403
min,8.000000,0.200000,10.000000,15.000000,5.000000,5.000000,0.035425
25%,28.000000,21.800000,45.000000,46.500000,51.000000,50.000000,20.856877
50%,39.000000,66.100000,60.000000,70.000000,70.000000,65.000000,30.042735
75%,59.000000,124.250000,80.000000,90.000000,92.000000,84.000000,38.245600
max,346.000000,1014.100000,250.000000,140.000000,134.000000,180.000000,153.707174

# What Series did the .describe() function run on? 
The .describe() function ran on all the series dealing with numerical variables. These were: height, weight, damage, basespeed, attack, defense, and bmi.

# What Series did it not run on?
The function did not run on the pokemon, maintype, and secondarytype series because they are not numerical variables since their data type are strings.

# What is the difference, and what does this mean the .describe() function is used for?
The describe function generates descriptive statistics such as summarizing the central tendency, dispersion and shape of a datasets' distribution (while excluding NaNs). By default this function does not run on series with dtype string when dealing with a dataframe with mixed data types such as the pokemon dataset. This is the reason why descriptive statistics did not run for the columns with type string but you can get those generated if you pass "include='all'" in the .describe() function.