# DS 3000 Pre-Course Notebook
## For students who need a refresher on jupyter notebooks and python
Some of the material here will also be briefly touched upon in the first class.

- jupyter
    - markdown
    - gotchas (when in doubt: restart & run all)
    
- python lightning review (brush up on our skills & pick up a few new tricks)
    - types (floats & ints, tuples, lists, dict, string)
    - if statement & comparison operators
    - iteration (for/while loops)
    - functions
    - operators (Arithmetic & Logical)

# Jupyter Notebooks

Jupyter contains two cell (in these blue / green rectangles) types:
- markdown
    - markdown is a simple text/document formatting language
- python cells
    - a python interpreter is running in the background with all python variables / functions etc
    
By merging both, Jupyter provides a 'living' document which includes:
- results of analysis
- method of how analysis was done (the code)
- the ability to easily modify a few things and poke around or modify an analysis

    
# Installing Jupyter Notebook  
  
In the terminal type:

`pip install notebook`

Then to run Jupyter Notebook in the browser, type in the terminal:

`jupyter notebook`

**Note**: make sure the notebook file `.ipynb` is in the appropriate folder.

## Other options

Aternatives to introduce yourself to jupyter are to install Cantor or open the notebook in Google Colab. Either are acceptable for editing your notebook, though it is **strongly** preferred that you install jupyter notebook on your own machine.

# Navigating Jupyter

- selecting a cell
- changing cell type
- running a cell
    - for markdown cell: renders text
    - for python cell: runs the code
- add a cell
- remove a cell

# The Jupyter-Python Gotcha

The state of variables and functions may depend on previous cells which have been modified or deleted:

In [1]:
def scale_it(x):
    return 4 * x

# note
If you change the function above (replace the 4 with a 3) but do not run the cell, the below will stay the same. Try it.

In [2]:
scale_it(5)

20

This can be problematic as `.ipynb` are saved with the outputs of each cell!

Mitigate the issue by:
- observing the index (idx) in `In [idx]` and `Out [idx]`

Best practice:

- Give a fresh `Kernel>Restart & Run All`
    - before sharing
    - when debugging

**Note**: this is required of all your submissions for this class

# Jupyter Output

In [1]:
# by default jupyter echos the result of the final line's evaluation
x = 3
y = x + 5

In [3]:
# you can suppress it with ;
x+ 10;
x

3

In [5]:
# jupyter reproduces anything printed to the command line
print('hey, does this work?')
print('how about this?');

hey, does this work?
how about this?

# Markdown Rundown

Spend 5-10 minutes with [this markdown guide](https://www.markdownguide.org/basic-syntax/)

# Headings

more #'s yields smaller headings

# one #
## two #
### three #

## Lists

here is a list of things I love:
- baseball
- python
- open source software

## Links
you can link to website, like [this one](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) which contains a more complete markdown reference (and was used to generate this quick markdown guide, many examples taken from them)

## Images

![alt text](http://dangerouslyirrelevant.org/wp-content/uploads/2016/03/2015-Gallup-Student-Poll-1-3.jpg "Logo Title Text 1")

## Tables

| Car Repair                         | Cost ($) | Prob | Salted Roads? |
|------------------------------------|----------|------|---------------|
| None                               | 0        | .9   | No            |
| Oxygen sensor replacement          | 250      | .01  | No                    |
| Under car rust repair              | 1000     | .02  | Yes           |
| Timing Belt Replacement            | 750      | .03  | No            |
| Fuel cap replacement or tightening | 25       | .03  | No            |
| rusted muffler repair              | 250      | .01  | Yes           |

Tables can be tough to generate by hand, go ahead and use a [table generator](https://www.tablesgenerator.com/markdown_tables) online to save yourself some time.

## Block quote
    
    This is a blockquote
    
## Python code for display (not for running)  
  

```python
import numpy as np
rng = np.random.default_rng(seed=0)
```

## Latex Math

$$ \sum_{i=0}^n a_i = \frac{a_0 + a_n}{2} (n + 1) $$

# Python lightning review

- brush up our skills 
- pick up a few new tricks

# Types
- ints / floats
- tuple
    - an immutable sequence of objects
- list
    - a mutable sequence of objects
    - sorting
- dict
    - a mutable mapping between objects
- strings
    - python has a great library of methods for strings

## Ints/Floats

An **int** is an integer.
A **float** is a decimal.

In [6]:
#this is an int
x = 1
x
type(x)

int

In [7]:
#this is a float
x = 1.0
x
type(x)

float

## Tuples

A tuple is
- an ordered, immutable list of objects

In [8]:
a_tuple = ('a', 1, 'asdf')
a_tuple

('a', 1, 'asdf')

In [9]:
# careful with that tuple constructor (it takes a single input which is a tuple)
a_tuple = tuple(('a', 1, 'asdf'))
a_tuple

('a', 1, 'asdf')

In [10]:
# you can make a tuple without including the parenthases (this is most common in the code I've seen)
a_tuple = 'a', 1, 'asdf'
a_tuple

('a', 1, 'asdf')

In [11]:
beatles_tuple = ['john', 'ringo', 'paul', 'george']

In [12]:
# you can slice a tuple just like a list:
beatles_tuple[-1]

'george'

In [13]:
beatles_tuple[:2]

['john', 'ringo']

In [14]:
# tuples are immutable, you can't change which items are inside them 
beatles_tuple[0] = 'yoko ono'

In [15]:
# (though you can change the items themselves if they're mutable)
# third item in this tuple is a list, which is mutable
my_tuple = 'a', 7, [1, 2, 3]
my_tuple

('a', 7, [1, 2, 3])

In [16]:
# idx 2 corresponds to third item in tuple ... the list
my_tuple[2].append('yoko')
my_tuple

('a', 7, [1, 2, 3, 'yoko'])

### Tuple unpacking (a humble but super useful construction ... wait until functions!)

In [17]:
# build tuple of all beatles
beatles_tuple = 'paul', 'ringo', 'john', 'george'

# tuple unpacking into individual variables
member0, member1, member2, member3 = beatles_tuple
member2

'john'

In [18]:
# swapping items in python
item0 = 'obj in item0 initially'
item1 = 'obj in item1 initially'

# re-assign each variable to the other :)
item1, item0 = item0, item1

# doesn't do anything but output to jupyter notebook so we can see if it worked
item0, item1

('obj in item1 initially', 'obj in item0 initially')

In [19]:
# the 'in' keyword compares an object to each item in a tuple, if it == one item then it returns True
'george' in beatles_tuple

True

In [20]:
# the 'not' keyword will negate a boolean variable, which makes for some super readable code
'matt' not in beatles_tuple

True

## Lists
A python **list** is:
- an ordered sequence of objects
- **mutable** (mutable objects can be modified, immutable objects (like tuples) may not)
- implemented as a [dynamic array](https://en.wikipedia.org/wiki/Linked_list#Linked_lists_vs._dynamic_arrays)

see [python doc](https://docs.python.org/3/tutorial/datastructures.html) for more detail

### Initializing a list, adding, inserting and appending elements

In [21]:
# how to make a list
some_list = [1, 2, 'hello', 'hello']

In [22]:
# addressing an element (note: we start indexing at 0)
some_list[0]

1

In [23]:
# finding index of items equal to 1
some_list.index(1)

0

In [24]:
# note that we find index of the first occurance
# (there are two `hello` entries, but we only get index of first one)
some_list.index('hello')

2

In [25]:
# what happens if the item isn't in the list?
# some_list.index('are you in there?')

In [26]:
# how should we check if an item is in a list?
'are you in there?' in some_list

False

In [27]:
# append a single item to the end of a list
some_list.append('asdf')
some_list

[1, 2, 'hello', 'hello', 'asdf']

In [28]:
# insert a single item to an arbitrary location of a list
# note: we push list at, and including index, to the right to make room
some_list.insert(0, 'a new beginning')
some_list

['a new beginning', 1, 2, 'hello', 'hello', 'asdf']

In [29]:
# insert a single item to an arbitrary location of a list
some_list.insert(3, 'a middle child')
some_list

['a new beginning', 1, 2, 'a middle child', 'hello', 'hello', 'asdf']

In [30]:
# popping a single item out of the list
third_item = some_list.pop(3)
third_item

'a middle child'

In [31]:
# notice that after popping removes the item from the list
some_list

['a new beginning', 1, 2, 'hello', 'hello', 'asdf']

## Slicing a list (part 1)
A slice refers to a "contiguous" run of items in a list.  Slicing returns these elements from the list.

![](https://i.ibb.co/JK1VHpy/list1.png)

In [32]:
# lets build the example above
c = [-45, 6, 0, 72, 1543]
c

[-45, 6, 0, 72, 1543]

In [33]:
# the first index is the starting index (included in slice)
# the second index is the ending index (not included in slice)
c[2:5]

[0, 72, 1543]

In [34]:
# by default, if we exclude the starting index it is assumed to be 0
c[:2]

[-45, 6]

In [35]:
# by default, if we exclude the ending index it is assumed the length of the list
c[2:]

[0, 72, 1543]

## Slicing a list (part 2)

Negative indices are helpful if we want to start counting from the "end" of a list:

![](https://i.ibb.co/RGF8sPW/list2.png)

In [36]:
c = [-45, 6, 0, 72, 1543]

In [37]:
# just the same as c[3:5]
c[-2:5]

[72, 1543]

In [38]:
# this backwards counting & default ending index make for an elegant way to get the last n elements of a list
c[-3:]

[0, 72, 1543]

We might be interested in skipping through the list by some constant index (skipping by 2 gets every other index, for example)

In [39]:
c = [-45, 6, 0, 72, 1543]

In [40]:
# starting idx: 0, ending idx: 5, step size: 2
c[0:5:2]

[-45, 0, 1543]

In [41]:
# same as above but now we use defaults
c[::2]

[-45, 0, 1543]

In [42]:
# grab all the odd indexed elements
c[1::2]

[6, 72]

In [43]:
# we can even take negative steps if we want to
c[5:0:-1]

[1543, 72, 0, 6]

In [44]:
# reverses list order
c[::-1]

[1543, 72, 0, 6, -45]

### "Arithmetic" on lists:
- "multiplication" by int: repeat list some number of times
- "addition" with another list: join two lists together

In [45]:
# cast a string to a list
my_list = list('echo ')

In [46]:
# multiplying a list by an integer
my_list * 3

['e', 'c', 'h', 'o', ' ', 'e', 'c', 'h', 'o', ' ', 'e', 'c', 'h', 'o', ' ']

In [47]:
# adding two lists together (unlike typical addition, order matters!)
another_list = list('abc')
my_list + another_list

['e', 'c', 'h', 'o', ' ', 'a', 'b', 'c']

Generally, python often defines the behavior of operators on objects without the typical numerical meaning.

(++) When building your own object, you may overload arithmetic, logical and comparison operations so that it has an intuitive meaning in your application.

For example, consider an object which contains statistics on a brain region:

``` python
brain_region0 + brain_region1
```
may return a region whose volume is the union of both region, and contains statistics derived from its constituent regions.

### Helpful list functions (min, max, len, sorted)

In [48]:
list_of_ints = [2, 11, -10, 4, -100]

In [49]:
min(list_of_ints)

-100

In [50]:
max(list_of_ints)

11

In [51]:
# number of elements in the list
len(list_of_ints)

5

In [52]:
# return a sorted copy of the list (increasing order)
sorted_list_of_ints = sorted(list_of_ints)
sorted_list_of_ints

[-100, -10, 2, 4, 11]

You can also sort in [reverse](https://docs.python.org/3/library/functions.html#sorted) (decreasing order) by using the `reverse` parameter

In [53]:
sorted_list_of_ints = sorted(list_of_ints, reverse=True)
sorted_list_of_ints

[11, 4, 2, -10, -100]

### Activity (Lists):
- produce `list_a` which contains all the char in the sentence (in this order):

`the quick brown fox jumps`

repeat any characters which appear twice, so there should be 4 spaces in your list.
- produce `list_b` which reverse sorts this list
- produce `list_c` by discarding all odd indexed letters in `list_a`

Ensure that your final code retains copies of all your old answers (i.e. don't overwrite part A's list to make part B's list)

## Dictionary
python dictionary
- unordered collection which stores key-value pairs 
- mutable

a real-life dictionary matches words to definitions, the words are keys and the definitions are values.  Note that a real-life dictionary is sorted for our convenience, python dictionaries are not!

In [54]:
favorite_number_dict = {'eric':  17, 'qi': 7, 'lynne': 3}
favorite_number_dict

{'eric': 17, 'qi': 7, 'lynne': 3}

In [55]:
# use square brackets to "lookup" (below we get the value associated with key 'qi')
favorite_number_dict['qi']

7

In [56]:
# dictionaries are mutable, we can add key value pairs
favorite_number_dict['zeke'] = 9999
favorite_number_dict

{'eric': 17, 'qi': 7, 'lynne': 3, 'zeke': 9999}

In [57]:
# keys() returns all the keys of the dict
favorite_number_dict.keys()

dict_keys(['eric', 'qi', 'lynne', 'zeke'])

In [58]:
# values() returns all the values of the dict
favorite_number_dict.values()

dict_values([17, 7, 3, 9999])

In [59]:
# items() returns (key, value) tuples of all the pairs in the dict
favorite_number_dict.items()

dict_items([('eric', 17), ('qi', 7), ('lynne', 3), ('zeke', 9999)])

In [60]:
# you can update one dict into another
favorite_number_dict2 = {'eric': 42, 'fleck': 3.14159}

# add (overwrite if need be) key, value pairs from favorite_number_dict2 to favorite_number_dict
favorite_number_dict.update(favorite_number_dict2)

# notice that value associated with key 'matt' was overwritten
favorite_number_dict

{'eric': 42, 'qi': 7, 'lynne': 3, 'zeke': 9999, 'fleck': 3.14159}

In [61]:
# removing a key, value from a dictionary (by key)
del favorite_number_dict['eric']
favorite_number_dict

{'qi': 7, 'lynne': 3, 'zeke': 9999, 'fleck': 3.14159}

## Dictionaries

A real life dictionary assigns a definition (value) to every word (key).

Python dictionaries assign a (not necessarily unique) value to every key.  
(and they're not sorted like real dictionaries!)

In [62]:
# stores favorite numbers of some people
# keys are 'eric', 'qi', ...
# values are 17, 7, 3, 1
favorite_number_dict = {'eric':  17, 'qi': 7, 'lynne': 3, 'tamrat': 1}
favorite_number_dict

{'eric': 17, 'qi': 7, 'lynne': 3, 'tamrat': 1}

In [63]:
# what's tamrat's favorite number?
favorite_number_dict['tamrat']

1

In [64]:
# keys
'a' == ('a', 'b', 'c')

False

In [65]:
# keys must be immutable
some_dict_wont_work = {('a', 'b', 'c'): 123}

In [66]:
some_dict_wont_work[('a', 'b', 'c')]

123

In [67]:
# notice that each key has a unique value.  
# some values may be repeated among keys.  

# we shouldn't store the numbers as keys and values as names
#(remember the surjective-injective requires w/ inverse existence from CS1800?)
problematic_fav_number_dict = {17: 'eric', 7: 'qi', 3: 'lynne', 1 :'tamrat'}
problematic_fav_number_dict

{17: 'eric', 7: 'qi', 3: 'lynne', 1: 'tamrat'}

# Strings

Python has awesome [string manipulation methods](https://docs.python.org/3/library/stdtypes.html#string-methods), we'll highlight a few useful ones here.  Worth a few minutes to famliarize yourself with the link.

(tip: handling file paths?  use [pathlib](https://docs.python.org/3/library/pathlib.html) instead of treating them as strings)

In [68]:
# string formatting (putting data into a string)
# see https://docs.python.org/3/library/string.html#formatspec for other ways to format besides .2f below
name = 'eric'
fav_num = 17
greeting_str = f'hi {name}, I heard your favorite number is about {fav_num:.1f}'

print(greeting_str)

hi eric, I heard your favorite number is about 17.0

In [69]:
some_string = 'hello python world!'

In [70]:
# replaces all occurances of one string with another
some_string.replace('python', 'ds3000')

'hello ds3000 world!'

In [71]:
# splits a string on all occurances of 'o'
some_string.split('o')

['hell', ' pyth', 'n w', 'rld!']

In [72]:
# joins a list of strings together with 
url = 'https://www.some-website.com/this-section/this-subsection/file_<useful-thing>_gibberish-here-too.html'
url.split('/')

['https:',
 '',
 'www.some-website.com',
 'this-section',
 'this-subsection',
 'file_<useful-thing>_gibberish-here-too.html']

In [73]:
url.split('/')[5]

'file_<useful-thing>_gibberish-here-too.html'

# Control Flow (If statements)

In [74]:
x = 3
if x > 10:
    print('x is smaller than 10')
else:
    print('x is not smaller than 10')

x is not smaller than 10

In [75]:
grade = 91
if grade >= 93:
    print('youve earned an a')
elif grade >= 90:
    print('youve earned an a-')
else:
    print('some other grade')

youve earned an a-

## Iteration: For Loops
For loops run the same block of code multiple times changing a set of variables with each run through the block.

### range & for loops

In [76]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
# range(start_idx, stop_idx, step_size)
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [78]:
for idx in range(10):
    print(idx)

0
1
2
3
4
5
6
7
8
9

### iterating through a list (or a tuple):
- index heavy way: range & for loop
- iterate through the list itself
- need both?  try [enumerate](https://docs.python.org/3.8/library/functions.html#enumerate)

In [79]:
some_list = ['a', 'b', 'c', 'd']
# an homage to matlab: a very index heavy way to build a loop
for idx in range(len(some_list)):
    item = some_list[idx]
    print(item)

a
b
c
d

In [80]:
# iterate through the list, skip all that indexing nonsense
for item in some_list:
    print(item)

a
b
c
d

In [81]:
# if you need an index too, use enumerate
for idx, item in enumerate(some_list):
    print(idx, item)

0 a
1 b
2 c
3 d

In [82]:
list(enumerate(some_list))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

### iterating through a dict
- keys
- values
- items (and tuple unpacking)

In [83]:
some_dict = {'qi': 7, 'nomar': 5, 'mia':10}
for key in some_dict.keys():
    print(key)

qi
nomar
mia

In [84]:
for val in some_dict.values():
    print(val)

7
5
10

In [85]:
for key, val in some_dict.items():
    print(key, val)

qi 7
nomar 5
mia 10

## odds and ends:
- string formatting

In [86]:
name = 'mia'
fav_num = 10
print(f'hello, my name is: {name} and my favorite number is {fav_num:.3f}')

hello, my name is: mia and my favorite number is 10.000

### Activity (For Loops):

Matt's son has a favorite song: [Wheels on the Bus](https://www.youtube.com/watch?v=8d8Vo72Kbrk).  He can't get enough (though Matt and his wife certainly can ...).  Here's how it goes:

```
The wheels on the bus go round and round, round and round, round and round
the wheels on the bus go round and round ... All through the town.
```

There is a structure to each verse of the song:

``` python
noun = 'wheels on the bus'
move = 'go round and round'
repeats = 3

The <noun> on the bus go <move> * repeats
the <noun> on the bus go <move> ... All through the town
```

Write a nested loop which prints each verse according to the pattern above.  The list below contains a tuple of `(noun, move, repeat)` for every verse:

``` python
noun_move_rep_list = [
('wheels', 'round and round', 3),
('babies', 'wah, wah, wah', 4),
('gators', 'chomp chomp chomp', 2)]
```

In [87]:
noun_move_rep_list = [
('wheels', 'round and round', 3),
('babies', 'wah, wah, wah', 4),
('gators', 'chomp chomp chomp', 2)]

for noun, move, repeats in noun_move_rep_list:
    for i in range(repeats):
        if i == 0:
            print(f"The {noun} on the bus go {move}")
        elif i == repeats - 1:
            print(f"the {noun} on the bus go {move} ... All through the town")
        else:
            print(f"the {noun} on the bus go {move}")

The wheels on the bus go round and round
the wheels on the bus go round and round
the wheels on the bus go round and round ... All through the town
The babies on the bus go wah, wah, wah
the babies on the bus go wah, wah, wah
the babies on the bus go wah, wah, wah
the babies on the bus go wah, wah, wah ... All through the town
The gators on the bus go chomp chomp chomp
the gators on the bus go chomp chomp chomp ... All through the town

In [88]:
noun_move_rep_list = [
('wheels', 'round and round', 3),
('babies', 'wah, wah, wah', 4),
('gators', 'chomp chomp chomp', 2)]

for noun, move, repeats in noun_move_rep_list:
    # build verse0
    verse0 = f'The {noun} on the bus go'
    for idx in range(repeats):
        verse0 = verse0 + ' ' + move
    
    # builds verse1, the second line of the verse
    verse1 = f'The {noun} on the bus go {move} ... All through the town'
    
    # prints both lines of the verse
    print(verse0)    
    print(verse1, end='\n\n')

The wheels on the bus go round and round round and round round and round
The wheels on the bus go round and round ... All through the town

The babies on the bus go wah, wah, wah wah, wah, wah wah, wah, wah wah, wah, wah
The babies on the bus go wah, wah, wah ... All through the town

The gators on the bus go chomp chomp chomp chomp chomp chomp
The gators on the bus go chomp chomp chomp ... All through the town

## While Loops
While loops run so long as some condition is met.

In [89]:
x = 1.001
while x < 100:
    print(x)
    x = x ** 2
print(x)

1.001
1.0020009999999997
1.0040060040009995
1.008028056070055
1.0161205618243738
1.032500996162281
1.0660583070761027
1.136480314085966
1.291587504304936
1.6681982812766534
2.7828855056543804
7.744451737581237
59.976532715725035
3597.1844766004356

A tortoise is racing a hare.  Both run at a constant speed all day.  
- The turtle runs at a speed of 1 mile / day.  
- The hare runs at a speed of 1000 miles / day / (race_day + 1)

So:
- on the 1st day of racing, `race_day = 0` and the hare runs at 1000 miles / day.
- on the 2nd day of racing, `race_day = 1` and the hare runs at 500 miles / day.

How many full days must pass before the tortoise catches up to the hare?

In [90]:
# v1: a big problem
# initialize total distance run
dist_tort = 0
dist_hare = 0

# initialize race_day
race_day = 0

while dist_tort < dist_hare:
    # move each animal forward daily rate
    dist_tort += 1
    dist_hare += 1000 / (race_day + 1)
    
    # update race_day
    race_day += 1
    
# prints output
print(f'on day {race_day}, dist_tort: {dist_tort}, dist_hare: {dist_hare}')

on day 0, dist_tort: 0, dist_hare: 0

In [91]:
# v2: ok (but repeated code)
# initialize total distance run
dist_tort = 0
dist_hare = 0

# initialize race_day
race_day = 0

# move each animal forward daily rate
dist_tort += 1
dist_hare += 1000 / (race_day + 1)

# update race_day
race_day += 1

while dist_tort < dist_hare:
    # move each animal forward daily rate
    dist_tort += 1
    dist_hare += 1000 / (race_day + 1)
    
    # update race_day
    race_day += 1
    
# prints output
print(f'on day {race_day}, dist_tort: {dist_tort}, dist_hare: {dist_hare}')

on day 9764, dist_tort: 9764, dist_hare: 9763.724304061332

### Break Statement
We could avoid repeating code above if we could ensure that the loop runs at least once.  What if, instead of testing if we should continue the loop at the start we could check at the end?  Then we would always run the block at least once.

... if only there were a way to `break` out of a loop at an arbitrary location.

In [92]:
# break in a for loop
# note: break ignores if blocks and breaks out of innermost loop
for other_idx in range(3):
    for idx in range(1000):
        print(idx)
        if idx > 4:
            break

0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5

In [93]:
# break in a while loop 
x = 1.001
while True:
    x = x ** 2
    print(x)
    
    if x > 100:
        break
        
    x = x ** 3

1.0020009999999997
1.012066220495791
1.0746166829392563
1.5400026603006811
13.339170582800026
5633430.7282417575

In [94]:
# v3: best (no repeated code)
# initialize total distance run
dist_tort = 0
dist_hare = 0

# initialize race_day
race_day = 0

while True:
    # move each animal forward daily rate
    dist_tort += 1
    dist_hare += 1000 / (race_day + 1)
    
    # update race_day
    race_day += 1
    
    if dist_tort >= dist_hare:
        break
    
# prints output
print(f'on day {race_day}, dist_tort: {dist_tort}, dist_hare: {dist_hare}')

on day 9764, dist_tort: 9764, dist_hare: 9763.724304061332

### continue statements
`break` stops further execution of the loop 
`continue` immediately starts execution of the next iteration (skips remainder of block of current iteration)
both of these statements:
- ignore if blocks
- apply to the innermost loop

In [95]:
some_str = 'the quick brown fox jumps over the lazy dog'
for c in some_str:
    if c in 'aeiou':
        # don't print vowels
        continue
        
    if c > 't':
        # don't print char after t in alpha order
        continue
        
    # print c
    print(c, end='')

th qck brn f jmps r th l dg

In [96]:
from string import ascii_lowercase

for repeat_idx in range(1, 4):
    for c in ascii_lowercase:
        if c in 'aeiou':
            # don't print vowels
            continue
        
        if c > 't':
            # don't print
            break
        
        print(c * repeat_idx, end='')
        
    print('\n' * 2)

bcdfghjklmnpqrst


bbccddffgghhjjkkllmmnnppqqrrsstt


bbbcccdddfffggghhhjjjkkklllmmmnnnpppqqqrrrsssttt

### Activity (While Loops):

Consider the movement of a tadpole in a pond.  At `time=0` the tadpole is at position `x=0`.  Every step in time the tadpole moves one inch to the left or right with equal probability.  For example, we could store a tadpole's movement as the list `tadpole_list`:

```python
tadpole_list = [0, 1, 0, 1, 0, 1, 2, 3, 2, 3, 4]
```

where `tadpole_list[time]` tells us their position at a given `time`.  Write a script which creates a `tadpole_list`, as above.  End your "random walk" (this is the official math name of such a thing) when the tadpole is more than 10 inches away from their starting position.

In [97]:
import random

# initialize tadpole_list
tadpole_list = [0]

while abs(tadpole_list[-1]) <= 10:
    # choose a random direction
    step = random.choice((-1, 1))
    
    # update tadpole_list with step
    new_pos = tadpole_list[-1] + step
    tadpole_list.append(new_pos)
    
print(tadpole_list)

[0, -1, 0, 1, 0, 1, 0, -1, -2, -1, 0, 1, 2, 1, 2, 3, 4, 3, 4, 5, 4, 5, 4, 3, 4, 3, 2, 3, 2, 1, 0, 1, 0, -1, 0, 1, 0, -1, 0, 1, 2, 1, 0, 1, 0, 1, 0, -1, -2, -3, -2, -1, -2, -3, -4, -3, -4, -3, -4, -5, -4, -5, -4, -3, -4, -5, -6, -5, -6, -5, -6, -7, -8, -9, -8, -9, -8, -9, -10, -11]

## Functions

* defining and calling functions
* functions with multiple inputs
* functions with multiple outputs (tuple unpacking to the rescue!)
* default parameter values

In [98]:
def square(number):
    """ squares a number
    
    Args:
        number (float): input number
        
    Returns:
        sq (float): square of input
    """
    sq = number ** 2
    return sq

square(3)

9

* Definition begins with the (**`def` keyword**, followed by the function name, a set of parentheses and a colon (`:`). 
>```python
def square(number):
```
* By convention function names should begin with a lowercase letter and in multiword names underscores should separate each word. 
* Required parentheses contain the functions **parameter list**, if any.
* The indented lines after the colon (`:`) are the functions **block**
    * Consists of a docstring followed by the statements that perform the functions task.
> ```python
> """ squares a number
> 
> Args:
>     number (float): input number
> 
> Returns:
>     sq (float): square of input
> """
> ```

### Multiple Inputs to Fnc
- passing by order
- passing by keyword
- default inputs
- passing by order & keyword

In [99]:
def raise_to_power(a, b=2):
    """ compute a to the b power
    
    Args:
        a (float): base
        b (float): exponent
        
    Returns:
        out (float): a to the b-th power
    """
    return a ** b

In [100]:
# notice: the arguments (inputs) are distinguished by the order they're passed in
raise_to_power(4, 3)

64

In [101]:
# passing arguments by keyword
raise_to_power(a=4, b=3)

64

In [102]:
raise_to_power(b=3, a=4)

64

In [103]:
# passing by order & keyword (all ordered args before keyword args)
raise_to_power(4, b=3)

64

In [104]:
# using default param
raise_to_power(a=2)

4

### Multiple Outputs From Fxn
- tuple unpacking allows for multiple outputs
- (assert ... not related but helpful in this example)

In [105]:
def int_divide(n, d):
    """ integer division, returns divisor and remainder
    
    finds a, b such that:
    
    d * a + b = n
    
    (equiv: n / d = a remainder b)
    
    Args:
        n (int): numerator
        d (int): denominator
        
    Returns:
        a (int): factor
        b (int): remainder
    """
    # validate inputs
    assert type(n) == int, 'n is not an int'
    assert type(d) == int, 'd is not an int'
    
    # integer division
    a = n // d
    
    # mod operator
    b = n % d
    
    return a, b

In [106]:
a, b = int_divide(11, 2)
a, b

(5, 1)

In [107]:
int_divide(11, 2)

(5, 1)

In [5]:
assert 11 > 20, 'something went wrong'

AssertionError: something went wrong

### Activity (Functions):
A store opens one morning with the following stock of items:
- 3 milk
- 2 eggs
- 7 bubble gum

Which can be encoded in `item_stock_dict` as:

```python
item_stock_dict = {'milk': 3, 'eggs': 2, 'bubble gum': 7}
```

1. Write a function `update_stock()` which accepts arguments:
- **item_stock_dict** (dict): initial inventory of items
- **item** (str): item
- **quant** (int): quantity of item

and returns:
- **item_stock_dict** (dict): inventory of items after purchase

`update_stock()` tracks the inventory of the store as items are sold.  For example, my purchase of a single package of bubble gum could be tracked with:
```python
item_stock_dict = update_stock(item_stock_dict, item='bubble gum', quant=1)
```
Write a suitable test for your function using `assert`.

2. Extend your `update_stock()` function to also allow for items to be added to the inventory.  The default behavior should still be item removal but when `add_item=True` is passed, the items will be added instead of removed.  Again, write a suitable test for your function using `assert`.

In [109]:
def update_stock(item_stock_dict, item, quant, add_item=False):
    """ tracks the inventory of the store as items are sold (and added).

    Args:
        item_stock_dict (dict): keys are items, values are number of
            items in stock at the store (initially)
        item (str): specific item to be updated
        quant (int): the # of items to be updated
        add_item (bool): True when items are to be added, otherwise
            items are removed from inventory

    Returns:
        item_stock_dict (dict): the updated inventory
    """
    
    if item not in item_stock_dict.keys() and add_item == False:
        raise Error('item not in stock')
        
    elif item not in item_stock_dict and add_item:
        # new item, set quantity (first time)
        item_stock_dict[item] = quant
        
    elif add_item:
        # add item (existing)
        item_stock_dict[item] += quant
        
    else:
        # remove item (existing)
        item_stock_dict[item] -= quant

    return item_stock_dict

In [110]:
# test case
item_stock_dict = {'milk': 3, 'eggs': 2, 'bubble gum': 7}

item_stock_dict = update_stock(item_stock_dict, item='bubble gum', quant=1)

item_stock_dict_expected = {'milk': 3, 'eggs': 2, 'bubble gum': 6}
assert item_stock_dict == item_stock_dict_expected, 'update_stock() failure'

# Python variable names

- can have letters, digits and underscores but may not begin with a digit
- python is case sensitive (though, by convention, variables are all lower case.  use underscores to seperate words)

In [111]:
# string (you can use single or double quotes). 
some_string = 'a'
some_other_string = "a"

# integer
some_int = 3

# float
some_float = 1.2345

# bool
sunny_day = True

## Arithmetic Operators
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

* [All operators and their precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence)

In [112]:
11 / 2

5.5

In [113]:
# integer division (floor division discards any remainder)
11 // 2

5

In [114]:
# get remainder after integer division
11 % 2

1

In [115]:
# arithmetic operators are defined for non-numbers too!
# like strings
'a' + 'b'

'ab'

## Logical Operators

Algebraic operator | Python operator | Sample condition | Meaning 
:---- | :---- | :---- | :----
&gt;  | `>` | `x > y` | `x` is greater than `y`
&lt;  | `<` | `x < y` | `x` is less than `y`
&ge; | `>=` | `x >= y` | `x` is greater than or equal to `y`
&le; | `<=` | `x <= y` | `x` is less than or equal to `y`
= | `==` | `x == y` | `x` is equal to `y`
&ne; | `!=` | `x != y` | `x` is not equal to `y`

In [116]:
a = 3
b = 10

a != b

True

In [117]:
# python "syntactic sugar": evaluating if a number is in a range
x = 10

100 <= x < 200

False

In [118]:
# produces TypeError: objects must be compare-able
# 10 < 'a'

In [119]:
# python bad habit, don't use "is" to compare objects 
# (it sometimes works, which makes it a subtle error to catch)

# works for strings
x = 'a'
y = 'a'
x is y

True

In [120]:
# doesn't work for floats
x = 1.23
y = 1.23
x is y

False

`is` tests if the variables point to the same object ... ++[Strings](https://en.wikipedia.org/wiki/String_literal) behave a bit differently.

## Type Casting (converting between variable types)

In [121]:
# `type()` returns the object type
a = 1
type(a)

int

In [122]:
a = float(1)
type(a)

float

In [123]:
a = float('3')
type(a)

float